.details {
  position: relative;
  margin-bottom: 127px;

  @media (min-width: $tablet-width) and (max-width: 1270px) {
    margin-bottom: 550px;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.details::after {
  position: absolute;
  content: "";
  right: 0;
  top: -92;
  width: 1366px;
  height: 411px;
  background-image: url("../img/map-bg.png");
  background-color: transparent;
  background-repeat: no-repeat;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: none;
  }
}

.details__container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 53px;

  @media (min-width: $tablet-width) and (max-width: 1270px) {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 0;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin: 0 auto;
    padding-left: 0;
  }
}

.details__wrapper {
  display: flex;
  flex-direction: column;
}

.details__wrapper h2 {
  @include reset;
  padding-bottom: 46px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 49px;
  letter-spacing: -1px;
  text-align: left;
  text-transform: uppercase;
  color: $blue;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding-bottom: 23px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
}

.details__city {
  @include reset;
  position: relative;
  width: 300px;
  padding-bottom: 40px;
  padding-left: 23px;
  line-height: 22px;
  text-align: left;
  color: $black;
  opacity: 0.74;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    margin: 0 auto;
    padding-right: 78px;
    text-align: center;
  }
}

.details__city::after {
  position: absolute;
  content: "";
  top: 0;
  left: 4px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-place-mark.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    left: 10px;
  }
}

.details__city::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 220px;
  width: 20px;
  height: 20px;
  background-image: url("../img/gps.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    left: 225px;
  }
}

.details__city strong {
  margin-left: 15px;
  border-bottom: 1px dashed $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.details__curator {
  @include reset;
  padding-bottom: 15px;
  padding-left: 25px;
  line-height: 22px;
  color: $blue;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 13px;
  }
}

.details__curator span {
  padding-right: 7px;
  color: $black;
  opacity: 0.74;
}

.details__place {
  @include reset;
  padding-left: 23px;
  padding-right: 60px;
  font-size: 13px;
  line-height: 19px;
  color: $black;
  opacity: 0.74;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding: 0;
  }
}

.details__wrap {
  display: flex;
  width: 450px;
  padding-bottom: 27px;
  text-align: left;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    flex-direction: column;
    width: 290px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
}

.details__wrap img {
  width: 112px;
  height: 112px;
}

.details__social-list {
  @include list-reset;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    padding-top: 15px;
    padding-left: 28px;
  }
}

.details__item {
  margin: 0 5px;

  &--facebook {
    opacity: 0.2;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    &--facebook {
      display: none;
    }
  }
}

.details__link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.details__description {
  @include reset;
  max-width: 480px;
  padding-top: 5px;
  font-size: 17px;
  line-height: 29px;
  text-align: left;
  color: $black;
  opacity: 0.87;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 26px;
  }
}

.details__description br {
  display: none;

  @media (min-width: $mobile-width) and (max-width: 767px) {
    display: block;
  }
}

.details__box {
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.details__map {
  position: absolute;
  top: 4px;
  right: 0;
  width: 702px;
  height: 448px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-color: $white;
  z-index: -1;

  @media (min-width: $tablet-width) and (max-width: 1270px) {
    top: 448px;
    right: 0;
  }

  @media (min-width: $mobile-width) and (max-width: 767px) {
    position: relative;
    width: 100%;
    height: 420px;
    background-image: url("../img/map-mob.png");
  }
}
