.foto {
  margin-bottom: 138px;

  @media (min-width: $mobile-width) and (max-width: 599px) {
    margin-bottom: 155px;
  }
}

.foto__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 5px;

  @media (min-width: $mobile-width) and (max-width: 599px) {
    padding-left: 0;
  }
}

.foto__bg {
  width: 100%;
  height: 586px;
  background-image: url("../img/foto.jpg");
  background-position: center auto;
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/foto@2x.jpg");
  }

  @media (min-width: 331px) and (max-width: 1150px) {
    height: auto;
  }

  @media (min-width: $mobile-width) and (max-width: 330px) {
    height: 272px;
    background-image: url("../img/foto-mob.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/foto-mob@2x.jpg");
    }
  }
}

.foto__wrapper {
  padding-top: 9%;
  padding-right: 13%;
  padding-bottom: 13%;
  padding-left: 58.5%;
  text-align: left;

  @media (min-width: 600px) and (max-width: 900px) {
    padding-left: 37%;
  }

  @media (min-width: $mobile-width) and (max-width: 599px) {
    position: relative;
    padding: 0;
    max-width: 290px;
    margin: 0 auto;
  }
}

.foto__title {
  @include list-reset;
  padding-bottom: 22px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 49px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $blue;

  @media (min-width: $mobile-width) and (max-width: 599px) {
    position: absolute;
    top: -44px;
  }
}

.foto__description {
  margin: 0;
  padding-bottom: 47px;
  font-size: 17px;
  line-height: 29px;
  color: $white;
  opacity: 0.87;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  @media (min-width: $mobile-width) and (max-width: 600px) {
    padding-top: 100px;
    padding-bottom: 57px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 26px;
  }
}

.foto__description br {
  display: none;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    display: block;
  }
}

.foto__btn {
  position: relative;
  padding: 21px 45px 20px 74px;
  margin-left: -5px;
  letter-spacing: -1.5px;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    padding: 21px 60px 18px 91px;
    margin-left: 15px;
  }
}

.foto__btn-svg {
  position: absolute;
  top: 17px;
  left: 40px;
  fill: $white;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    left: 57px;
  }
}
