.main-header {
  width: 100%;
  height: 906px;
  background-image: url("../img/flag-girl-main.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: $bg-color;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/flag-girl-main@2x.jpg");
  }

  @media (min-width: $mobile-width) and (max-width: 450px) {
    height: 566px;
    background-image: url("../img/flag-girl-main-mobile.jpg");
    background-position-y: -36px;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-girl-main-mobile@2x.jpg");
    }
  }
}

@media (min-width: 1520px) and (max-width: 1920px) {
  .main-header {
    height: 1212px;
  }
}

.main-header__row {
  max-width: 343px;
  padding-top: 525px;
  margin: 0 auto;

  @media (min-width: $mobile-width) and (max-width: 450px) {
    max-width: 288px;
    padding-top: 254px;
  }
}

.main-header__row h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

  @media (min-width: $mobile-width) and (max-width: 450px) {
    font-size: 20px;
    line-height: 24px;
  }
}
