.tabs {
  position: relative;
  margin-bottom: 215px;

  @media (min-width: $mobile-width) and (max-width: 679px) {
    margin-bottom: 80px;
  }
}

.tabs::after {
  position: absolute;
  content: "";
  right: 0;
  top: -52px;
  width: 680px;
  height: 426px;
  background-image: url("../img/church.png");
  background-color: transparent;
  background-repeat: no-repeat;

  @media (min-width: 680px) and (max-width: 960px) {
    top: 200px;
  }

  @media (min-width: $mobile-width) and (max-width: 679px) {
    top: 92px;
    right: 0;
    width: 296px;
    height: 201px;
    background-image: url("../img/church-mob.png");
  }
}

.tabs__container {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;

  @media (min-width: $mobile-width) and (max-width: 960px) {
    max-width: 100%;
  }
}

.tabs__container h2 {
  @include reset;
  padding-bottom: 55px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: left;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: $blue;

  @media (min-width: 680px) and (max-width: 960px) {
    text-align: center;
  }

  @media (min-width: $mobile-width) and (max-width: 679px) {
    padding-bottom: 0;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
}

.tabs__wrapper {
  display: flex;

  @media (min-width: $mobile-width) and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}

.tabs__content {
  width: 560px;

  @media (min-width: $mobile-width) and (max-width: 679px) {
    width: 288px;
  }
}

.tabs__cover {
  display: flex;
  flex-direction: column;
}

.tabs__cover h3 {
  @include reset;
  padding-top: 27px;
  padding-bottom: 24px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: left;
  color: $blue;

  @media (min-width: $mobile-width) and (max-width: 679px) {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 29px;
  }
}

.tabs__text {
  @include reset;
  line-height: 26px;
  text-align: left;
  color: $black;
  opacity: 0.87;

  &--top {
    padding-bottom: 15px;
  }

  &--bottom {
    padding-right: 45px;
  }

  @media (min-width: $mobile-width) and (max-width: 679px) {
    font-size: 14px;
    line-height: 22px;

    &--bottom {
      padding-right: 0;
    }
  }
}

.tab {
  display: none;
}

.tab.is-active {
  display: block;
  padding-left: 0;
}
