.video {
  margin-bottom: 100px;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    margin-bottom: 75px;
  }
}

.video h2 {
  @include reset;
  padding-bottom: 32px;
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $blue;

  @media (min-width: $mobile-width) and (max-width: 600px) {
    padding-bottom: 21px;
    font-size: 32px;
    line-height: 39px;
  }
}

.video p {
  max-width: 690px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  color: $black;

  @media (min-width: 551px) and (max-width: 768px) {
    max-width: 500px;
    text-align: center;
  }

  @media (min-width: $mobile-width) and (max-width: 500px) {
    max-width: 288px;
    margin-bottom: -44px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}

.video__box {
  position: relative;
}

.video__btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 107px;
  height: 101px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  opacity: 1;
  zoom: 1;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: 500px) and (max-width: 900px) {
    top: 50%;
  }

  @media (min-width: $mobile-width) and (max-width: 499px) {
    top: 66%;
    zoom: 0.8;
  }
}
